
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	}
html{ 
	overflow-y:scroll;
	_overflow: hidden;	
	}
body{
	font-size:12px;
	font-family: "Microsoft YaHei" !important;
	}	
.clear{ 
	clear:both;
	}
.clearfix{ 
	*zoom:1;
	}
.clearfix:before,	
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	}
.clearfix:after{
	clear: both;	
	}	
ul,li{
	 list-style:none;
	}	
a,img{ 
	border:none;
	}
a{
	color:#016dbd;	
	}		
a.none{
	text-decoration:none;	
	}	
table{
	border-spacing:0;
	border-collapse: collapse;
	width:100%;	
	}	
.weight{
	font-weight:500;	
	}
.weightnormal
{
    font-weight:normal;
    
    }	
.larger2 {
    font-size: 180%;
	}
.red{
	color:#F00 !important;	
	}
.gray{
	color:#999 !important;	
	}
.black{
	color:#000 !important;	
	}
.gray-3{
	color:#333;	
	}	
.blue{
	color:#016DBD;	
	}
.green{
	color:#090;
	}
.orange{
	color:#F60;
	}	
.lightGreen{
	color:#99c584;
	}
.lightBlack{
	color:#333;
	}
.lightRed{
	color:#e76463;
	}			
a.link{
	text-decoration:none;	
	}
.link a:hover,	
a.link:hover{
	text-decoration:underline;	
	}		
.floatL{
	float: left;
	}
.floatR{
	float: right;
	}
.cursor{
	cursor: pointer;
	}
.Hidden{
	display: none;
	}	
.Block{
	display: block !important;
	}
.in-block{
	display: inline-block;
	}
.bn{
    border:0 !important;
    }				
.marginB_90{
	margin-bottom: 90px;
	}
.marginT_15{
    margin-top: 15px;
	}
.marginB_25{
	margin-bottom: 25px;
	}	
.marginT_5{
	margin-top: 5px;
	}	
.marginL_10{
	margin-left: 10px;
	}
.paddingTB_10{
    padding: 10px 0px;
	}
.paddingT_5{
    padding-top:5px;
	}
.paddingL_10{
    padding-left:10px;
	}
.paddingT_10{
    padding-top:10px;
	}
.paddingB_30{
    padding-bottom:30px;
	}
.tabMain .paddingT_5{
    padding-top:5px;
	}
.icon{
	display: block;
	position: absolute;
	}
.fz12{
	font-size: 12px !important;
	}	
.fz14{
	font-size: 14px;
	}
.fz16{
	font-size: 16px;
	}
.tc{
	text-align: center;
	}
.tr{
	text-align: right;
	}
.tl{
	text-align: left;
	}	
.text{
	border: 1px solid #e1e1e1;
	padding: 3px 5px 4px;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	}				
.triangle{
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0 3px;
	width: 0;
	height: 0;
	border-width: 4px;
	overflow: hidden;
	}	
.defaultBox{
	width: 1000px;
	margin: 0 auto;
	}		
#footer .footer_main{
	width:1180px;
	text-align:center;
	margin:10px auto;
	font-size:14px;
	padding:20px 0 0px;
	line-height: 30px;	
	}
#footer .footer_main a{
	color: #333;
	text-decoration: none;
	}
#footer .footer_main a:hover{
	color:#016DBD;	
	}
#footer .footer_body{
	position:relative;
	}				
.newIcon{
	display: block;
	position: absolute;
	right: 295px;
	top: -6px;
	width: 25px;
	height: 15px;
	background: url(../images/new.gif) no-repeat;
	}
.pdtb0{
	padding-top: 0 !important;
	padding-bottom: 0!important;
	}
.Bulb{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	+top: 0px;
	_top:3px;
	background: url(../images/bulb.png) no-repeat;
	}
.promptBox{
	position: absolute;
	right: 20px;
	top: 25px;
	}
.promptBox .textBox{
	cursor: default;
	border: 1px solid #839bb9;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: #666 1px 1px 2px;
	-moz-box-shadow: #666 1px 1px 2px;
	box-shadow: #666 1px 1px 2px;
	background: #F8F8F8;
	width: 200px;
	padding: 10px 20px 10px 10px;
	}
.promptBox .close{
	position: absolute;
	display: block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	right: 8px;
	top: 8px;
	background: url(../images/close.png) no-repeat -15px 0; 
	}
.close:hover{
	right: 6px;
	background-position: 0 0;
	}
.promptBox .textBox	.triangle{
	position: absolute;
	display: block;
	width: 11px;
	height: 8px;
	overflow: hidden;
	right: 31px;
	top: -7px;
	background: url(../images/icon-1.png) no-repeat -31px 0; 
	}	
.promptBox .textBox p{
	line-height: 24px;
	text-align: left;
	}	
.selectMain{
	height: 24px!important;
	line-height: 24px!important;
	width: 90px;
	position: relative;
	}	
.selectMain .current{
	background: #FFF;
	width: 70px;
	padding: 0px 9px;
	border: 1px solid #bbb;
	cursor: pointer;
	position: relative;
	}
.selectMain .current span{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	}		
.selectMain .current .icon{
	overflow: hidden;
	width: 17px;
	height: 18px;
	right: 5px;
	top: 3px;
	background: url(../images/icon-1.png) no-repeat 0 -118px;
	}
.selectMain .selectList{
	border: 1px solid #bbb;
	border-top: none;
	background: #FFF;
	position: absolute;
	top: 25px;
	left: 0;
	width: 88px;
	display: none;
	padding-bottom: 5px;
	}	
.selectMain .selectList li{
	margin: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	}	
.selectMain .selectList li a,
.selectMain .selectList li .cur{
	display: block;
	padding: 1px 18px 5px 4px;
	margin: 1px 0;
	width: 63px;
	_width: 46px;
	height: 18px;
	color: #000;
	overflow: hidden;
	text-decoration: none;
	}	
.selectMain .selectList li .cur,
.selectMain .selectList li a:hover{
	background: #eaf3fe;
	}
.selectMain .selectList li .cur{
	cursor: default;
	}	
.searchSort .selectMain{
	position: absolute;
	left: 2px;
	top: 2px;
	height: 28px!important;
	line-height: 28px!important;
	} 
@-moz-document url-prefix(){.searchSort .selectMain{
	height: 29px!important;
	line-height: 29px!important;}}	
.searchSort .selectMain .selectList{
	top: 27px;
	}
.searchSort .selectMain .current{
	padding: 0 12px 0 14px;
	width: 62px;
	background: #edf7ff;
	border: 0; 
	border-right:1px solid #0068b3;
	}	
.searchSort .selectMain .selectList{
	border-color:#0068b3;
	border-left-width: 2px;
	left: -2px;
	}
.searchSort .selectMain .current .icon{
	width: 6px;
	height: 3px;
	background-position: 0 -310px;
	top: 13px;
	right: 15px;
	}
.searchSort .selectMain .selectList li a, 
.searchSort .selectMain .selectList li .cur{
	padding: 1px 8px 9px 9px;
	_width: 60px;
	}
.searchSort .selectMain .selectList li a:focus{
	outline: none;
	}		
.sideBox{
	position: absolute;
	z-index: 9999999;
	_position: absolute;
	_right: 0;
	}	
.sideMain{
	position: fixed;
	_position:absolute;
	right: 0;
	top: 480px;
	}	
.sideMain .boxTitle{
	width: 16px;
	height: 48px;
	padding: 20px 4px;
	color: #FFF;
	line-height:22px;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	z-index: 233;
	background:url(../images/icon-1.png) no-repeat 0 -212px;
	}
.sideMain .sideMainBox{
	position:absolute;
	background: #FFF;
	top: -35px;
	right: -211px;
	width: 210px;
	height: 220px;
	border: 1px solid #e9e9e9;
	}
.sideMain .sideMainBox h4.title{
	line-height: 34px;
	height: 34px;
	padding: 0 8px;
	background: #f6f6f6;
	font-size: 14px;
	border-bottom: 1px solid #f2f1f1;
	}
.sideMain  .sideMainTxt{
	padding: 10px;
	}
.sideMain .listMain{
	margin-bottom: 15px;
	}	
.sideMain .listMain p{
	line-height: 20px;
	text-indent: 20px;
	}
.sideMain .listMain h5.title{
	padding: 0 0 5px 0; 
	border-bottom: 1px dashed #ddd;
	margin-bottom: 5px;
	}	
.dialogPrompt .prompt{
	position: absolute;
	overflow: hidden;
	z-index:999999;
	}
.dialogPrompt .promptOne{
	top: 170px;
	right: -171px;
	width: 276px;
	height: 116px;
	background: url(../images/prompt.png) no-repeat;
	}
.dialogPrompt .promptClose{
	position: absolute;
	width: 25px;
	height:25px;
	border-radius: 13px;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	right: 4px;
	top: 5px;
	}
.dialogPrompt .promptLink{
	position: absolute;
	width: 103px;
	height:26px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	right: 42px;
	bottom: 19px;
	}		
/*--------------------------------Notice--------------------------------------*/
#head .Notice{
	float: left;
	width: 800px;
	position:relative;
	height: 25px;
	overflow: hidden;
	text-align: left;
	}		
#head .User{
	float: right;
	}
#head .Notice ul{
	color: #000;
	padding-left: 20px;
	position: relative;
	}	
#head .Notice .icon{
	width: 16px;
	height: 13px;
	top: 6px;
	background: url(../images/userIcon.gif) no-repeat 0 -9px;
	}						
/*--------------------------------search_list--------------------------------------*/	
.KeyFilter .KeyListBox{
	padding: 10px 10px 0px 70px;
	}	
.KeyFilter .KeyListBox .titleTxt{
	margin: 2px 0 2px -70px;
	width: 70px; 
	font-weight: 500;
	float: left;
	padding:2px 5px 2px 0; 
	} 					
.KeyFilter .keyList{
	width: 900px;
	float: left;
	} 
.KeyFilter .keyList li{
	float: left;
	}
.KeyFilter .keyList li.alone{
	padding:2px 5px; 
	margin:2px 0px;
	}	
.KeyFilter .keyCategory {
	margin-top: 5px;
	border: 1px solid #eee;
	background: #FFFFEB;
	padding-bottom: 10px;
	}
.KeyFilter .KeyListBox a{
	display: inline-block;
	padding:2px 5px; 
	margin:2px 10px 2px 0;
	text-decoration: none;
	}
.KeyFilter .KeyListBox a .gray{
    font-size:11px;
    }
.KeyListBox .current a,
.KeyListBox .current .gray,
.KeyListBox a:hover,
.KeyListBox .keyList a:hover span{
	color: red !important;
	}									
#content_result{
	padding:20px 0;	
	}
.top_search .search{
	padding: 0;
	}	
.search_result,
.page_main{
	width:1000px;
	margin-top:5px;	
	}
.search_result h3.title{
	font-size:14px;
	padding:25px 0 10px;	
	width:600px; float:left;
	}		
.search_result h3.title a{ 
	padding:5px; 
	margin-right:10px; 
	text-decoration:none;
	}
.search_result h3.title a:hover{ 
	text-decoration:underline;
	}
.search_result h3.title a.current{ 
	color:#FF0000; 
	}
.search_result h3.title a.othertype{ 
	color:#333333; 
	}
.search_result .search_table{
	text-align:center;
	}
.search_table thead tr th{
	background:#edf7ff;
	font-weight:bold;
	border-bottom:1px solid #d1e1ea;
	height:35px;
	line-height:35px;
	font-size:14px;		
	}			
.search_table tbody tr td{
	border-bottom:1px solid #d1e1ea;
	color:#016DBD;
	border:1px solid #bbd7e6;	
	}
.search_table tbody tr td.pl10,.search_table thead tr th.pl10
{
    padding-left:10px;
}
.search_table tbody tr .first{
	border-left:none;	
	}
.search_table tbody tr .last{
	border-right:none;	
	}		
.search_table tbody tr td .box{
	padding:7px 0;	
	}
.search_tableuser tbody tr td .box{
	padding:10px 0;	
	}
.search_table tbody tr .last .box p{
	line-height:20px;	
	}	
.search_table tbody tr .box  em{
	font-style:normal;
	color:Red;
	}	
.search_table thead tr th,
.search_table tbody tr td{
	padding:0 5px;	
	word-break: break-all;
	vertical-align:middle
	}	
.search_table tbody .evenKey {
	/*display:none;*/
	}
.search_table tbody .evenKey td{
	border: none;
	text-align: left;
	width:100%;
	}
.search_table tbody .evenKey td,	
.search_table tbody .evenKey .box{
	padding: 0;
	}	
.search_table tbody tr.clickeven{
	background: #edf7ff;
	}		
.search_table tbody .evenKey .longTitle{
	padding: 10px 0 5px;
	text-align:center;
	color:#3D8BC5;
	}	
.search_table tbody .evenKey .longTitle .longkeyWord{
	color:red;
	width: 170px;
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	margin-right: 20px;
	}	
.search_table tbody .evenKey .longKey{
	line-height: 30px;
	}		
.search_table tbody .evenKey .longL{
	float: left;
	width: 170px;
	text-align: center;
	margin-right: 11px;
	border-right: 1px dashed #d1e1ea;
	}		
.search_table tbody .evenKey .longR{
	text-align: center;
	width:1000px;
	}
.search_table tbody .evenKey .longR a{
	color:#3D8BC5;
	}
.search_table tbody .evenKey .longR a:hover{
	color:#016DBD;
	}
.search_table tbody .evenKey .longR span{
	display: inline-block;
	float: left;
	width: 190px;
	height: 30px;
	overflow: hidden;
	padding: 0 5px;
	}	
.search_table tbody .evenKey .longAlone span{
	width: 170px;
	}				
.search_table tbody td.clickKey a{
	display: block;
	width: 25px;
	height: 20px;
	background: url(../images/word.gif) no-repeat 0 -40px;
	position: relative;
	left: 30%;
	*left:0;
	} 	
.search_table tbody td.clickKey .showKey,
.search_table tbody td.clickKey a:hover{
	background-position: 0 -20px;
	}
.search_table tbody td.numberLink a{
	display: inline-block;
	width: 83px;
	height: 22px;
	}										
.page_box{
	margin-top:-5px;
	padding:0 0px 24px;
	border-bottom:1px solid #d1e1ea;	
	}	
.page_box .export_btn{
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	padding:5px 22px;
	text-align:center;
	border:1px solid #cdcdcd;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background: #f1f1f1;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e7e7e7));
	background: -webkit-linear-gradient(#ffffff, #e7e7e7);
	background: -moz-linear-gradient(#ffffff, #e7e7e7);
	background: -ms-linear-gradient(#ffffff, #e7e7e7);
	background: -o-linear-gradient(#ffffff, #e7e7e7);
	background: linear-gradient(#ffffff, #e7e7e7);	
	}
.page_box .export_btn3{
     background:none;
     border:0;
    }
.page_box .export_btn2{
	text-decoration:none;
	color: black;
	}
.page_box #page{
	display:inline-block;
	float:right;	
	}
.page_box #page a{
	display:inline-block;
	padding:2px 7px;
	border:1px solid #e7ecf0; 	
	}
.page_box #page .current{
	border:1px solid #FFF;
	text-align:center;	
	color:Red;
	}
.errorinfo{
	color: #CF0003;
    font-size: 14px;
    margin: 10px 0;
    width: 862px;
	}
#gotop {
    bottom: 120px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 100;
	}
.limittip1{ padding:10px 0; color:#333}
.limittip1 .limitbutton{background: none repeat scroll 0 0 #0068B3;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 3px;
    margin-left:10px;
	}
.Btn{
	display: inline-block;
	padding: 0 20px;
	color: #333;
	height: 28px;
	line-height: 28px;
	border: 1px solid #e1e1e1;
	border-bottom: 1px solid #dadada;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	background: #f5f5f5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefffe), to(#e8e8e8));
	background: -webkit-linear-gradient(#fefffe, #e8e8e8);
	background: -moz-linear-gradient(#fefffe, #e8e8e8);
	background: -ms-linear-gradient(#fefffe, #e8e8e8);
	background: -o-linear-gradient(#fefffe, #e8e8e8);
	background: linear-gradient(#fefffe, #e8e8e8);
	text-decoration: none;
	*overflow: visible;
	*width: auto;
	}	
.Btn:hover{
	color: #0068b3;
	background: #edf7ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fffffd), to(#ddd));
	background: -webkit-linear-gradient(#fffffd, #ddd);
	background: -moz-linear-gradient(#fffffd, #ddd);
	background: -ms-linear-gradient(#fffffd, #ddd);
	background: -o-linear-gradient(#fffffd, #ddd);
	background: linear-gradient(#fffffd, #ddd);
	}
.Btn .icon {
	width: 18px;
	height: 18px;
	background: url(../images/userIcon.gif) no-repeat -20px -6px;
	top: 5px;
	left: 8px;
	}	
.greenBtn{
	font-family: "Microsoft YaHei";
	display: inline-block;
	padding: 0px 20px;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	border: 1px solid #237300;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	background: #2b8d00;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2f9801), to(#2b8d00));
	background: -webkit-linear-gradient(#2f9801, #2b8d00);
	background: -moz-linear-gradient(#2f9801, #2b8d00);
	background: -ms-linear-gradient(#2f9801, #2b8d00);
	background: -o-linear-gradient(#2f9801, #2b8d00);
	background: linear-gradient(#2f9801, #2b8d00);
	*overflow: visible;
	*width: auto;
	}		
/*------------------------------formSort------------------------------*/
.formSort .default{
	display: inline-block;
	width: 6px;
	height: 9px;
	overflow: hidden;
	margin-left: 3px;
	background:url(../images/icon-1.png) no-repeat 0 -316px;
	*vertical-align: top;
	*margin-top: 6px;
	} 
.formSort .defaultHover,
.formSort .Down,
.formSort .Up{
	color: #016dbd !important;
	}	
.formSort .defaultHover .default{
	background-position: -8px -316px;
	}
.formSort .Down .default{
	background-position: -16px -316px;
	}	
.formSort .Up .default{
	background-position: -24px -316px;
	}
/*------------------------------dialog------------------------------*/	

.dialog .dialogBtn {
	text-align: right;
	margin: 0 15px;
	}	
.dialog .dialogBtn button{
	display: inline-block;
	padding: 0 18px;
	line-height: 25px;
	margin-left: 6px;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	cursor: pointer;
	width:auto;
	overflow:visible;
	}	
.dialog .dialogBtn .yes{
	background: #2560a8;
	border: 1px solid #14509a;
	color: #FFF; 
	}
.dialog .dialogBtn .no{
	background: #2560a8;
	border: 1px solid #cbcbcb; 
	color: #555;
	background: #FBFBFB;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FBFBFB), to(#efefef));
	background: -webkit-linear-gradient(#FBFBFB, #efefef);
	background: -moz-linear-gradient(#FBFBFB, #efefef);
	background: -ms-linear-gradient(#FBFBFB, #efefef);
	background: -o-linear-gradient(#FBFBFB, #efefef);
	background: linear-gradient(#FBFBFB, #efefef);
	}		
.dol{
	padding: 8px 15px 8px 75px;
	} 
.dol .Title{
	margin-left: -60px;
	display: inline-block;
	width: 60px;
	text-align: right;
	} 	
.dol .eg{
	position: relative;
	top: 2px;
	left: 4px;
	color: red;
	}
.textareaTxt{
	position:relative;
	height:100px;
	}
.textareaTxt .eg{
	left: 210px;
	}		
.textareaTxt textarea{
	width: 190px;
	position:absolute;
	padding: 3px 5px;
	height: 90px;
	*left:75px;
	left:75px\0;
	overflow: auto;
	border: 1px solid #c8c8c8;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	resize: none;
	}	
.doltip{
    padding: 8px;
    }
.dol .infoTxt{
	margin: 12px 0 0;
	display: inline-block;
	}	
.textareaTxt .gray{ 
	position:absolute;
	}
.dol .gray{
	padding: 10px 0 2px;
	top:100px;
	}	
.dol .text{
	width: 226px;
	}
.dol .dolGray {
	display: inline-block;
	padding: 4px 8px;
	background: #f3f3f3;
	border: 1px solid #e3e3e3;
	margin-top: 10px;
	}	
.dialog {
	font-size:12px;
	}	
.dialog .dbody {
	padding: 10px;
	background: #FFF;
	}
select{
	border:1px solid #C8C8C8;
	padding:3px; 
	}
.dialog .dialoghead, 
.dialog .dialogbody, 
.dialog .dhead, 
.dialog .dbody {
	zoom: 1;
	}
.dialog .dialoghead:after, 
.dialog .dialogbody:after, 
.dialog .dhead:after, 
.dialog .dbody:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	}
.dialogconfirm {
	font-size: 13px;
	padding: 28px 10px 28px 80px;
	margin-top: -10px;
	min-height: 24px;
	background: url(../images/alert_48.png) no-repeat 20px 50%;
	height: auto !important;
	height: 24px;
	}
.dialogconfirm-success {
	background-image: url(../images/success_48.png);
	}
.dialogconfirm-alert {
	background-image: url(../images/alert_48.png);
	}
.dialogconfirm-error {
	background-image: url(../images/error_48.png);
	}
.dialogmsg {
	padding: 6px 10px 6px 38px;
	}
.dialogmsg-error {
	margin-top: 1px;
	background: #ffebe8 url(../images/error.gif) no-repeat 15px 50%;
	}
.dialogmsg-alert {
	background: #fff8bb url(../images/alert.gif) no-repeat 15px 50%;
	}
.dialogmsg-success {
	background: #f2ffcf url(../images//valid.gif) no-repeat 15px 50%;
	}
.dialogmsg-infomsg {
	background: #f3f8fd url(../images/info.gif) no-repeat 15px 50%;
	}
.dialogmsg-note {
	background: #F2F8FD url(../images/info.gif) no-repeat 15px 50%;
	}
table .tableHover td{
	background: #EDF7FF;
	}		
.row .radio input,
.dol .checkbox,
.dol .radio input{
	position: relative;
	top: 2px;
	}		
.dol .Txt{
    border: 1px solid #C8C8C8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    height:20px;
    line-height:20px;
    padding:2px;
    }
.verifyimg{
     vertical-align:bottom; 
     cursor:pointer;
     }